/* styles/global/globals.css */

@font-face {
  font-family: "Mazius Review Extra";
  src: url("../styles//Mazius_Font_Family/MAZIUS_REVIEW_20.09_Italic_400.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Mazius Review Extra";
  src: url("../styles/Mazius_Font_Family/MAZIUS_REVIEW_20.09_Regular_400.otf") format("opentype");
}
@font-face {
  font-family: "Mazius Review Extra";
  src: url("../styles/Mazius_Font_Family/MAZIUS_REVIEW_20.09_Italic_400.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* color vars */
:root {
  --pink: #fe93a4;
  --white: #ffffff;
  --blue: #4e77bf;
  --yellow: #f7df89;
  --text: var(--white);
}

/* Custom styles */
body {
  /* background-color: #fafafa; */
  color: var(--text);
  overflow-x: hidden;
}

/* General reset, font-size and family */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Source Code Pro", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1,
h3,
h4 {
  font-family: "Mazius Review Extra", sans-serif;
}

h1 {
  color: var(--pink);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--text);
  text-decoration: none;
}

p {
  line-height: 1.6;
}

.poi-marker-non-active {
  filter: hue-rotate(0deg);
  -webkit-transition: all ease-in 1s;
  -moz-transition: all ease-in 1s;
  -ms-transition: all ease-in 1s;
  -o-transition: all ease-in 1s;
  transition: all ease-in 1s;
}

.poi-marker-active {
  filter: hue-rotate(90deg);
  -webkit-transition: all ease-in 1s;
  -moz-transition: all ease-in 1s;
  -ms-transition: all ease-in 1s;
  -o-transition: all ease-in 1s;
  transition: all ease-in 1s;
}

.artwork-container {
  overflow-y: scroll;
}

.poi-sidebar-active {
  transition: transform 2s ease;
  transform: scale(1.1) !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font-family: "Mazius Review Extra", sans-serif;
          background-color: transparent !important;
          color: black;
          box-sizing: border-box;
          position: relative;
          border: 1.5px solid black;
          text-align: center;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;

          /* &:hover {
            opacity: 0.67;
            transform: scale(0.95);
          }
          &:before,
          &:after {
            content: "";
            aspect-ratio: 1 / 1;
            height: calc(3px + 100%);
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: 1.5px solid black;
            position: absolute;
            box-sizing: border-box;
          }
          &:after {
            right: 0;
            transform: translate(50%, -9.5px);
          }
          &:before {
            left: 0;
            transform: translate(-50%, -9.5px); */
}

.leaflet-control-zoom { 
  border: none !important;  
  box-shadow: 0 1px 5px rgba(0,0,0,0.65) !important;
}